.card {
    .ant-card-head {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
    
      .ant-card-head-title {
        color: gold;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-shadow: 0 0 10px rgba(0, 255, 255, 0.8); 
        font-family: 'Pokemon Solid', sans-serif; 
      }

    position: relative;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    color: white;
  
    &:hover {
      transform: translateY(30deg) rotateX(5deg); 
      box-shadow: 5px 9px 50px rgba(255, 0, 0, 0.5);
      
      
      .circle-for-img {
        transform: translate(-50%, -50%) scale(1.2);
        filter: blur(40px);
        opacity: 0.8;
      }
      .pokemon-card-img {
        transform: scale(1.25); 
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
    }
  }

  .card {
    &::before {
      content: "";
      position: absolute;
      top: -100%;
      left: -100%;
      width: 300%;
      height: 300%;
      background: linear-gradient(
        115deg, 
        transparent 0%, 
        rgba(216, 98, 98, 0.1) 35%, 
        #d9d2a080 50%, 
        rgba(251, 239, 4, 0.1) 70%, 
        transparent 100%
      );
      transition: 0.5s;
      pointer-events: none;
      z-index: 15;
    }
  
    &:hover::before {
      top: -50%;
      left: -50%;
    }
  }
  
  .pokemon-card-img {
    height: 200px;
    width: 100%;
    object-fit: contain;
    display: block;
    margin: 20px auto;
    position: relative;
    z-index: 10; 
    filter: drop-shadow(0 5px 15px rgba(182, 160, 70, 0.5));
  }
  
  .circle-for-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: radial-gradient(circle, aqua 0%, transparent 70%);
    position: absolute;
    top: 45%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    filter: blur(30px);
    transition: all 0.5s ease;
  }
  