* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


  a {
    font-weight: 500;
    color: #ffbe64;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  body {
    overflow-y: scroll;       
    /* scrollbar-width: none;     */
    -ms-overflow-style: none;    /* IE Ð¸ Edge */
  }
  
  /* Chrome, Safari, Opera */
  body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  
.IMG {
  animation: show both ;
  animation-timeline: view(40% auto);
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.imga {
  animation: sho both ;
  animation-timeline: view(40% auto);
}

@keyframes sho {
  from {
    opacity: 0;
    transform: translateX(300px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
